.serviceBox {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 18px;
}

.singleServiceBox {
  margin-bottom: 50px;
  padding: 50px;
  position: relative;
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

.singleServiceBox h3 {
  margin-bottom: 10px;
}

.left {
  margin-top: -50px;
}

.right {
  margin-top: 30px;
}

.serviceBoxTitle h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  width: 50%;
  text-align: right;
}

.serviceBoxContainer {
  display: flex;
  flex-direction: column;
}

.serviceBoxTitle {
  display: inline-flex;
  justify-content: flex-end;
}

.serviceBoxTitle h2 span {
  color: #ffc700;
}

.left .singleServiceBox:nth-child(1) {
  background: #ffc700;
}

.left .singleServiceBox:nth-child(2) {
  background: #12bcff;
}

.right .singleServiceBox:nth-child(1) {
  background: #eb0028;
}

.right .singleServiceBox:nth-child(2) {
  background: #4dd78a;
}

.icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ffc700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left .icon {
  left: -30px;
}

.right .icon {
  right: -30px;
}

@media (max-width: 1084px) {
  .serviceBoxTitle h2 {
    font-size: 42px;
  }

  .singleServiceBox {
    padding: 40px;
  }
}

@media (max-width: 956px) {
  .serviceBoxTitle h2 {
    font-size: 38px;
  }

  .singleServiceBox {
    padding: 35px;
  }
}

@media (max-width: 868px) {
  .serviceBoxTitle h2 {
    font-size: 34px;
  }

  .singleServiceBox {
    padding: 30px;
  }
}

@media (max-width: 782px) {
  .serviceBoxTitle h2 {
    font-size: 30px;
  }

  .singleServiceBox {
    padding: 30px;
  }
}

@media (max-width: 698px) {
  .serviceBoxTitle h2 {
    font-size: 28px;
  }
}

@media (max-width: 653px) {
  .serviceBox {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .left {
    margin-top: 20px;
  }

  .right {
    margin-top: 0px;
  }

  .right .icon {
    left: -30px;
  }

  .serviceBoxTitle h2 {
    width: 58%;
  }
}

@media (max-width: 570px) {
  .serviceBoxTitle h2 {
    width: 70%;
  }
}

@media (max-width: 484px) {
  .serviceBoxTitle h2 {
    width: 80%;
  }
}

@media (max-width: 428px) {
  .serviceBoxTitle h2 {
    font-size: 26px;
    width: 90%;
  }
}

@media (max-width: 362px) {
  .serviceBoxTitle h2 {
    font-size: 24px;
    width: 100%;
  }
}
